<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Typer</title>
</head>
<body>
    <h1 id="logo">Typer</h1>
    <p id="record">Highest WPM: {{ record }}</p>
    <div class="end" id="end">
        <center>
            <div id="victory"></div>
            <div id="wpm"></div>
            <div id="acc"></div>
        </center>
    </div>
    <h1 id="sec"></h1>
    <div id="text"></div>
    <input type="text" value="{{ phrase }}" id="phrase">
    <input id="phraseText" value="{{ phrase_text }}"></input> 
    <p class="footer">&copy; Joseph Marc Antony, {{ year }}</p>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>